<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.capstone490.nitesh.datadashboard">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/dashboard"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Views.LoginActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Views.MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Views.Navigation_Drawer"
            android:label="@string/title_activity_navigation__drawer"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Views.GraphActivity" />
        <activity
            android:name=".Views.Create_user"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_create_user"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".Views.SettingsActivity"
            android:label="@string/title_activity_settings" />
        <activity
            android:name=".Views.Rotating_panel_graph"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_rotating_panel_graph"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".Views.Fixed_panel_graph"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_fixed_panel_graph"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".Views.UserProfile"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_user_profile"
            android:theme="@style/FullscreenTheme"></activity>
    </application>

</manifest>